# FDMS - TME 4

### Imports

In [63]:
import pandas as pd
import numpy as np

In [37]:
data = pd.read_csv("CTR.txt", 
            delimiter=";", 
            names=["index", "a0", "a1", "a2", "a3", "a4", 'c0', 'c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9'],
            index_col=0)

In [104]:
pubs = [i for i in list(data) if i[0] == 'c']
data[:10]

,a0,a1,a2,a3,a4,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9
index,,,,,,,,,,,,,,,
0,0.748371,0.835208,0.076699,0.172439,0.143446,0.103419,0.190698,0.0,0.102401,0.036312,0.074562,0.234702,0.000000,0.000000,0.078574
1,0.168419,0.133754,0.434864,0.995678,0.048800,0.000000,0.000000,0.0,0.020827,0.000000,0.000000,0.022586,0.000000,0.146548,0.324596
2,0.485287,0.566989,0.041657,0.962560,0.185080,0.109575,0.136626,0.0,0.098411,0.074771,0.000000,0.000000,0.000000,0.014760,0.193677
3,0.622231,0.196123,0.131147,0.439719,0.298934,0.000000,0.151069,0.0,0.127239,0.112239,0.000000,0.012022,0.034284,0.000000,0.086177
4,0.331710,0.086411,0.023036,0.925518,0.333580,0.000000,0.109214,0.0,0.151938,0.049861,0.000000,0.000000,0.037427,0.118916,0.216592
5,0.109601,0.879662,0.353879,0.669680,0.376216,0.089459,0.209107,0.0,0.120088,0.000000,0.000000,0.078749,0.000000,0.000000,0.241406
6,0.127865,0.602231,0.986143,0.267415,0.488381,0.000000,0.045596,0.0,0.441938,0.064135,0.000000,0.185478,0.142613,0.000000,0.245626
7,0.229038,0.506290,0.091916,0.781189,0.617084,0.104684,0.081973,0.0,0.127450,0.085391,0.000000,0.000000,0.000000,0.000000,0.184564
8,0.421367,0.416732,0.965223,0.508880,0.212582,0.021246,0.000000,0.0,0.245925,0.007313,0.000000,0.097657,0.092145,0.000000,0.318084
9,0.444963,0.583060,0.346337,0.370545,0.733722,0.000000,0.165378,0.0,0.214613,0.014049,0.000000,0.055444,0.000000,0.000000,0.201386

### Baseline

In [109]:
class QLearn(object):

    def predict(self, state, possibilities):
        '''
        :param state: current state
        :param possibilities: next step to choose
        :type possibilities: list
        :return: the chosen step
        '''
        pass
    
    def reward(self, value):
        '''
        :param value: the reward value
        :type value: float
        '''
        pass

In [107]:
# TODO Baselines to class

In [67]:
def random(ind = 'c'):
    pubs = [i for i in list(data) if i[0] == ind]
    return np.random.choice(pubs)

In [68]:
def staticBest(data, ind = 'c'):
    pubs = [i for i in list(data) if i[0] == ind]
    return data[pubs].sum(axis=0).idxmax()

In [101]:
def staticOptimal(data, row, ind = 'c'):
    pubs = [i for i in list(data) if i[0] == ind]
    return data[pubs].loc[row].idxmax()

In [102]:
for i in range(10):
    print([random(), staticBest(data), staticOptimal(data, i)])

['c1', 'c3', 'c6']
['c8', 'c3', 'c9']
['c8', 'c3', 'c9']
['c6', 'c3', 'c1']
['c6', 'c3', 'c9']
['c7', 'c3', 'c9']
['c6', 'c3', 'c3']
['c1', 'c3', 'c9']
['c7', 'c3', 'c9']
['c2', 'c3', 'c3']

### UCB

In [111]:
class UCB(QLearn):
    def __init__(self):
        '''self.p : {poss : {v: <float>, s:<int>}}'''
        self.p = dict()
        self.t = 0

    def predict(self, state, poss):
        bmax = -float("inf")
        for c in poss:
            d = self.p.get(c, {'v':0.,'s':0})
            b = d['v']/d['s'] + np.sqrt(2*np.log(self.t)/d['s'])
            if b > bmax : 
                bmax = b
                self.actual = c
        self.p[self.actual] = self.p.get(self.actual, {'v':0.,'s':0})
        self.p[self.actual]['s'] += 1
        return self.actual

    def reward(self, value):
        self.p[self.actual]['v'] += value

In [116]:
def learn(data, model):
    for i in data:
        pubs = [i for i in list(data) if i[0] == 'c']
        model.predict(i[pubs])

SyntaxError: can't assign to function call (<ipython-input-116-789e2fcc7546>, line 2)